{
  "advertise_addr": "{{ consul_advertise }}",
  "bind_addr": "{{ consul_bind }}",
{% if consul_is_server %}
  "bootstrap_expect": {{ consul_bootstrap_expect }},
{% endif %}
  "client_addr": "127.0.0.1 {{ consul_advertise }}",
  "domain": "{{ consul_dns_domain }}",
  "data_dir": "/var/lib/consul",
  "datacenter": "{{ consul_dc }}",
  "log_level": "INFO",
  "node_name": "{{ ansible_hostname }}",
  "recursors" : [ "192.168.1.150", "1.1.1.1" ],
{% if consul_bootstrap_expect > 1 %}
  "retry_join": [ {{ consul_retry_join }} ],
{% endif %}
{% if consul_is_server %}
  "server": true,
  "ui": true,
{% endif %}
  "rejoin_after_leave": true
}
