ansible/
dns/terraform.tfvars
dns/.terraform/
roles/consul/terraform/terraform.tfstate
roles/consul/terraform/terraform.tfstate.backup
roles/consul/terraform/.terraform/plugins/
roles/consul/terraform/.envrc
