bind_addr = "0.0.0.0"
data_dir = "/var/lib/nomad"
region = "{{ nomad_dc }}"
datacenter = "{{ nomad_dc }}"
name = "{{ ansible_hostname }}.node"
log_level = "DEBUG"
enable_debug = true

advertise {
  # We need to specify our host's IP because we can't
  # advertise 0.0.0.0 to other nodes in our cluster.
  rpc = "{{ ansible_default_ipv4.address }}:4647"
}

client {
  enabled = true

  host_volume "nomadconfig" {
    path = "/opt/nomad/configs"
    read_only = false
  }

{% if ansible_hostname == "rpi1" %}
  # rpi1 only for radarr

  host_volume "moviesfolder" {
    path = "/mnt/external/Movies"
    read_only = false
  }

  host_volume "moviessync" {
    path = "/mnt/external/Sync"
    read_only = false
  }

  host_volume "radarrconfig" {
    path = "/opt/nomad/configs/radarr"
    read_only = false
  }

  host_volume "radarrsyncconfig" {
    path = "/opt/nomad/configs/radarrsync"
    read_only = false
  }

{% endif %}

{% if ansible_hostname == "rpi2" %}
  # rpi2 only for sonarr

  host_volume "tvfolder" {
    path = "/mnt/external/TV Shows"
    read_only = false
  }

  host_volume "tvsync" {
    path = "/mnt/external/Sync"
    read_only = false
  }

  host_volume "sonarrconfig" {
    path = "/opt/nomad/configs/sonarr"
    read_only = false
  }

  host_volume "sonarrsyncconfig" {
    path = "/opt/nomad/configs/sonarrsync"
    read_only = false
  }

  host_volume "influxdbconfig" {
    path = "/opt/nomad/configs/influxdb"
    read_only = false
  }

{% endif %}

{% if ansible_hostname == "rpi3" %}

  host_volume "tautulliconfig" {
    path = "/opt/nomad/configs/tautulli"
    read_only = false
  }

  host_volume "lazylibrarianconfig" {
    path = "/opt/nomad/configs/lazylibrarian"
    read_only = false
  }

  host_volume "calibrewebconfig" {
    path = "/opt/nomad/configs/calibreweb"
    read_only = false
  }

  host_volume "calibrebooks" {
    path = "/opt/nomad/configs/calibrebooks"
    read_only = false
  }
{% endif %}

{% if ansible_hostname == "rpi4" %}

  host_volume "minioconfig" {
    path = "/opt/nomad/configs/minio"
    read_only = false
  }

  host_volume "shioriconfig" {
    path = "/opt/nomad/configs/shiori"
    read_only = false
  }

{% endif %}

{% if ansible_hostname == "rpi5" %}

  host_volume "jackettconfig" {
    path = "/opt/nomad/configs/jackett"
    read_only = false
  }

  host_volume "ombiconfig" {
    path = "/opt/nomad/configs/ombi"
    read_only = false
  }

  host_volume "redisconfig" {
    path = "/opt/nomad/configs/redis"
    read_only = false
  }

{% endif %}


  servers = {{ nomad_retry_join }}
}
