bind_addr = "0.0.0.0"
data_dir = "/var/lib/nomad"
region = "{{ nomad_dc }}"
datacenter = "{{ nomad_dc }}"
name = "{{ inventory_hostname }}"
log_level = "DEBUG"
enable_debug = true

advertise {
  # We need to specify our host's IP because we can't
  # advertise 0.0.0.0 to other nodes in our cluster.
  rpc = "{{ ansible_default_ipv4.address }}:4647"
}

plugin "raw_exec" {
  config {
    enabled = true
  }
}

consul {
  address = "127.0.0.1:8500"
  token = "8e28c90a-aa0c-226f-c930-f7b2d405d3c6"
}

client {
  enabled = true

  servers = ["192.168.1.62", "192.168.1.56"]
}

telemetry {
  collection_interval = "1s"
  disable_hostname = false
  prometheus_metrics = true
  publish_allocation_metrics = true
  publish_node_metrics = true
}