# Adding in router for traefikdash
[http.routers.traefikdash]
  rule = "Host(`traefik.veverka.net`)"
  service = "api@internal"
  entryPoints = ["websecure"]
  middlewares = ["auth"]

  [http.routers.traefikdash.tls]
    certResolver = "le" # From static configuration
    [[http.routers.traefikdash.tls.domains]]
      main = "traefik.veverka.net"

# Adding in router for consuldash
[http.services]
  [http.services.service-consul]
    [http.services.service-consul.loadBalancer]
      [[http.services.service-consul.loadBalancer.servers]]
        url = "http://192.168.1.231:8500"
      [[http.services.service-consul.loadBalancer.servers]]
        url = "http://192.168.1.224:8500"
      [[http.services.service-consul.loadBalancer.servers]]
        url = "http://192.168.1.149:8500"

{% for item in traefix_static_items %}
  # Adding in service for {{item.name}}
  [http.services.service-{{ item.name }}]
    [http.services.service-{{ item.name }}.loadBalancer]
      [[http.services.service-{{ item.name }}.loadBalancer.servers]]
        url = "{{ item.url }}"
{% endfor %}


[http.routers.consuldash]
  rule = "Host(`consul.veverka.net`)"
  service = "service-consul"
  entryPoints = ["websecure"]
  middlewares = ["auth"]

  [http.routers.consuldash.tls]
    certResolver = "le" # From static configuration
    [[http.routers.consuldash.tls.domains]]
      main = "consul.veverka.net"

{% for item in traefix_dashboard_items %}
# Adding in router for {{item.name}}
[http.routers.{{ item.name }}]
  rule = "Host(`{{ item.host }}`)"
  service = "{{ item.service }}"
  entryPoints = ["websecure"]
{% if item.include_auth | bool == True %}
  middlewares = ["auth"]
{% endif %}

  [http.routers.{{ item.name }}.tls]
    certResolver = "le" # From static configuration
    [[http.routers.{{ item.name }}.tls.domains]]
      main = "{{ item.host }}"

{% endfor %}

{% for item in traefix_static_items %}
# Adding in router for {{item.name}}
[http.routers.{{ item.name }}dash]
  rule = "Host(`{{ item.name }}.veverka.net`)"
  service = "service-{{ item.name }}"
  entryPoints = ["websecure"]

  [http.routers.{{ item.name }}dash.tls]
    certResolver = "le" # From static configuration
    [[http.routers.{{ item.name }}dash.tls.domains]]
      main = "{{ item.name }}.veverka.net"
{% endfor %}
[http.middlewares.auth.basicAuth]
  usersFile = "/etc/traefik.d/users"
