# Adding in router for traefikdash
[http.routers.traefikdash]
  rule = "Host(`traefik.veverka.net`)"
  service = "api@internal"
  middlewares = ["auth"]

  [http.routers.traefikdash.tls]
    certResolver = "le" # From static configuration
    [[http.routers.traefikdash.tls.domains]]
      main = "traefik.veverka.net"

{% for item in traefix_dashboard_items %}
# Adding in router for {{item.name}}
[http.routers.{{ item.name }}]
  rule = "Host(`{{ item.host }}`)"
  service = "{{ item.service }}"
{% if item.include_auth | bool == True %}
  middlewares = ["auth"]
{% endif %}

  [http.routers.{{ item.name }}.tls]
    certResolver = "le" # From static configuration
    [[http.routers.{{ item.name }}.tls.domains]]
      main = "{{ item.host }}"

{% endfor %}

[http.middlewares.auth.basicAuth]
  usersFile = "/etc/traefik.d/users"
